@charset "utf-8";

@font-face {
    font-family: 'roboto';
    src: url(Fontes/ROBOTO/RobotoCondensed-Regular.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url(Fontes/Bebas_Neue/BebasNeue-Regular.ttf) format('opentype');
    font-weight: normal;
}

:root{
    --orange: #FA8334;
    --lemon: #FFFD77;
    --yellow:#FFE882;
    --blue: #388697;
    --purple: #271033;
    --grey: #101010;

    --fontpadrao:roboto;
    --fontdestaque: Bebas;
    --fonttexto: 'arial';
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: var(--blue);
    box-shadow: 2px 2px 10px black;
    padding: 16px;
    font-family: var(--fontdestaque);
    color: rgba(204, 204, 204, 0.986);
}


header .container{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sports{
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
    background-color: rgba(0, 128, 0, 0.582);
}

.container{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

.container h2{
    font-family: var(--fontpadrao);
    font-size: 25px;
    padding: 10px;
    font-weight: bolder;
}

header li{
    display: inline;
}

header li a {
    color: rgba(204, 204, 204, 0.486);
    text-decoration: none;
    padding: 10px;
}

.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article img{
    padding: 2px;
    height: 180px;
    min-width: 180px;
    max-width: 1000px;
    margin: auto;
}

.article article{
    padding: 2px;
    min-width: 300px;
    max-width: 1000px;
    margin: 2px auto;
    width: 30%;
}

.article article header{
    color: #ccc;
}

#economy{
    background-color: var(--orange);
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
}

section{
    padding: 16px 0;
}

section h2
.article article{
    margin-bottom: 16px;
}

.article article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

#economy a{
    box-shadow: 2px 2px 5px black;
    background-color: orangered;
    border-radius: 2px;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 10px;
}

#sports a{
    box-shadow: 2px 2px 5px black;
    font-weight: bolder;
    background-color: darkgreen;
    border-radius: 2px;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}

#lazer{
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
    background-color: #daf20294;
}

#lazer a{
    box-shadow: 2px 2px 5px black;
    font-weight: bolder;
    background-color: #8d9c0394;
    border-radius: 2px;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}

#saude{
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
    background-color: rgba(3, 87, 243, 0.582);
}

#saude a{
    box-shadow: 2px 2px 5px black;
    font-weight: bolder;
    background-color: rgba(3, 87, 243, 0.582);
    border-radius: 2px;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}
